
<p id='notice'><%= notice %></p>

<h1>Repository</h1>

<ul>
    <% @articles.each do |repository| %>
        <li>
            <%= link_to repository.name, repository %>
        </li>
    <% end %>
</ul>

<%= link_to "New repository", new_repository_path %>